.title {
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
  font-size: 30px;
}

.selected-item-line {
  margin: 0px;
  height: 3px;
  color: white;
  border-radius: 100px;
}

.nav-link {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}


.nav {
  padding: 8px;
}

#noteDescription {
  height: 300px !important;
  vertical-align: top !important;
  resize: none !important;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
}

#noteDescription:focus {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

#noteDescription:hover {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.title:focus {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.title:hover {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.add-note-container {
  position: fixed !important;
  bottom: 0% !important;
  right: 0% !important;
  padding-bottom: 48px;
  padding-right: 48px;
  z-index: 100;
}

.add-note {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  font-size: 32px;
  padding: 0px !important;
  box-shadow: 0px 0px 20px #888888;
  z-index: 100;
}

.add-image {
  border-color: grey;
}

.note-image {
  background-size: cover;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 15vh;
}

.note-card {
  border: 0px !important;
  box-shadow: 0px 0px 20px #a8a8a863;
}

.image-card {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.image-list {
  list-style-type: none;
}

#images ul {
  list-style: none;
  display: inline;
  margin-left: 0px;
  padding: 0px;
}

#images li {
  display: inline;
}

.image-upload>input {
  display: none;
}
