<!--<nav class="nav justify-content-center navbar navbar-expand-sm navbar-dark bg-dark" style="padding-left: 32px;">
    <a class="navbar-brand title" routerLink="">Notes</a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/tags">Tags</a>
        </div>
    </div>
</nav>-->

<nav class="nav justify-content-center navbar-dark bg-dark">
    <div class="navbar-nav nav-title" style="justify-content: center;">
        <a class="nav-title nav-link active">Note-ify</a>
    </div>
    <div class="navbar-nav nav-item" style="justify-content: center;">
        <a class="nav-nav-ti nav-link active" routerLink="">Notes</a>
        <hr *ngIf = "getCurrentRoute() === '/'" class = "selected-item-line">
    </div>
    <div class="navbar-nav nav-item" style="justify-content: center;">
        <a class="nav-item nav-link active" routerLink="/tags">Tags</a>
        <hr *ngIf = "getCurrentRoute() === '/tags'" class = "selected-item-line">
    </div>
</nav>


<router-outlet>

</router-outlet>
